{% extends 'base_index.html' %}
{% load static %}
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-12">
            <h1 class="p404">Error <span>404</span></h1>
            <br>
            <h1>Página não encontrada!</h1>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
{% endblock content %}