{% load static %}
<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
        <h2>serviços</h2>
        <p>Confira nossos serviços</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
            <li data-filter="*" class="filter-active">Todos</li>
            <li data-filter=".filter-starters">Pias</li>
            <li data-filter=".filter-salads">Balcões</li>
            <li data-filter=".filter-specialty">Lavatórios</li>
            </ul>
        </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-4 menu-item filter-starters">
                <div class="fall-item fall-effect">
                    <img src="{% static 'assets/img/menu/lobster-bisque.jpg' %}" class="img-fluid" alt="">
                    <div class="mask">
                        <h3>Pia Verde Ubatuba</h3>
                        <p>Pia feita em granito verde Ubatuba, acabamento em 45° Graus,
                        Cuba numero 2° de Inox, com frontão de 10 Centimentro sddasdasd
                        asddasdasdasasdasdasdasdas dasdasdasdasdasdasddas
                        asddasasdasddasasdasdasdd assdasdasdasdsdaadsdsadasd
                        ddasdasdasdasddasdassdasdasdas.</p>
                        <a href="#" class="btn btn-warning">Ver Mais</a>
                        <div class="social-links mt-3">
                            <a href="#" class="facebook"><i class="bx bxl-facebook h1 text-primary"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram h1 text-danger"></i></a>
                        </div>
                    </div>            
                </div>
            </div>
        </div>

    </div>
</section><!-- End Menu Section -->
