{% load static %}
<!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
        <h2>serviços</h2>
        <p>Confira nossos serviços</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
            <li data-filter="*" class="filter-active">Todos</li>
            {% for categoria in categorias %}
                <li data-filter=".filter-{{categoria.NomeCategoria}}">{{categoria.NomeCategoria}}</li>
            {% endfor %}
            </ul>
        </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
            {% for servico in servicos %}
                <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 menu-item filter-{{servico.FkCategoria}}">
                    <div class="fall-item fall-effect">
                        <img src=" {{servico.ImageServico.thumb.url}} " class="img-fluid" alt="">
                        <div class="mask">
                            <h3>{{servico.NomeServico}}</h3>
                            <p>{{servico.DescricaoServico}}</p>
                            <a href="#" class="book-a-table-btn scrollto text-dark">Detalhes</a>
                            <div class="social-links mt-3">
                                <a href="{{servico.Facebook}}"  target="_blank" class="facebook"><i class="bx bxl-facebook h1 text-primary"></i></a>
                                <a href="{{servico.Instagram}}"  target="_blank" class="instagram"><i class="bx bxl-instagram h1 text-danger"></i></a>
                            </div>
                        </div>            
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>
<!-- End Menu Section -->
